{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}

    <div>
        <script type="text/javascript">
        // wait until page is loaded

        $(document).ready(function() {
            $(".js-example-basic-single").select2();
            $("#filter-by-site").val("").trigger("change");
            // must trigger event for select2 to update display

            $(".js-data-example-ajax").select2({
              ajax: {
                url: "/search/",
                delay: 250,
                dataType: 'json',
                processResults: function (data, params) {
                  params.page = params.page || 1;
                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 20) < data.total_count
                    }
                  };
                }
              }
            });
        });
        </script>
    </div>


    <select class="js-data-example-ajax" id="filter-by-site" style="min-width: 300px">
        <!--If there is only one select form then probably do not need to change CSS "style" above-->
        <!--No need to specify the contents of the filter cell. Handled by Select2-->
    </select>


    <div id="admissions-chart">
        <p>Chart</p>
        <!--style="width:100%;height:314px"-->
    </div>

    <script>
        function ISO8601_week_no(dt) {
            var tdt = new Date(dt.valueOf());
            var dayn = (dt.getDay() + 6) % 7;
            tdt.setDate(tdt.getDate() - dayn + 3);
            var firstThursday = tdt.valueOf();
            tdt.setMonth(0, 1);
            if (tdt.getDay() !== 4) {
                tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
            }
            return 1 + Math.ceil((firstThursday - tdt) / 604800000);
        }


        format_data = function(data) {
            return {
                title: {text: data.title},

                // subtitle not working
                subtitle: {
                    text: "Admissions and Performance Indicators by Week",
                    floating: true,
                },

                subtitle: {
                    text: 'IMAM Nigeria ' + data.date,
                    align: 'right',
                    verticalAlign: 'bottom',
                    x: -50,
                    y: 10
                },
                xAxis: [{

                    // categories: data.adm_by_week,
                    // highcharts automatically knows the first of 2 # in series is x axis.
                    labels: {
                        formatter: function() {
                            var a = new Date(0);
                            a.setUTCMilliseconds(this.value);
                            return a.getFullYear() + ' ' + ISO8601_week_no(a);
                        }
                    },
                    type: 'datetime',

                    crosshair: true,
                    title: {
                        text: 'Week Number'
                    },
                }],
                 credits: {
                    enabled: false
                },

                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Admissions',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }

                }, { // Secondary yAxis
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Percentage',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        },
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },

                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 80,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },

                "series":[{
                    "name":"Admissions",
                    type: 'column',
                    "data": data.adm_by_week,
                    "yAxis": 0,
                    color: '#ffcccc',
                    tooltip: {
                        valueSuffix: ' cases'
                    }
                },
                    {
                    name: 'Default Rate',
                    type: 'line',
                    yAxis: 1,
                    data: data.defu_rate_by_week,
                    color: '#000000',
                    marker: { enabled: false},
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y:,.1f}</b> %<br/>'
                    }
                }, {
                    name: 'Transfer Rate',
                    type: 'line',
                    yAxis: 1,
                    data: data.tout_rate_by_week,
                    dashStyle: 'shortdot',
                    color: '#FFA500',
                    marker: { enabled: false},
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y:,.1f}</b> %<br/>'
                    }
                }, {
                    name: 'Non-recovered Rate',
                    type: 'line',
                    yAxis: 1,
                    data: data.dmed_rate_by_week,
                    dashStyle: 'dash',
                    color: '#9370DB',
                    marker: { enabled: false},
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y:,.1f}</b> %<br/>'
                    }

                }, {
                    name: 'Death Rate',
                    type: 'line',
                    yAxis: 1,
                    data: data.dead_rate_by_week,
                    color: '#FF0000',
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y:,.1f}</b> %<br/>'
                    }
                }],

                "chart":{"renderTo":"admissions-chart"},
            }
        }
        $.getJSON("/adm/").success(function(data) {
            amarChart = new Highcharts.Chart(format_data(data));
        });

        // on select event - run code in {} below

        $("#filter-by-site").on("select2:select", function (e) {
            var siteFilter = $("#filter-by-site").val();

            $.getJSON("/adm/?site_filter=" + siteFilter).success(function(data) {
                amarChart.update(format_data(data));
            });
        });
    </script>


{% include "home/includes/htmlsnippet.html" %}

<!--htmlsnippet could include an error message that is repeated on many different pages. -->

{% endblock %}

<!--see calazan.com - using highcharts with django 1.6 and bootstrap-->


