{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}

    <div>
        <script type="text/javascript">
        // wait until page is loaded
        $(document).ready(function() {
            $(".js-example-basic-single").select2();
        });
        </script>
    </div>

    <select class="js-example-basic-single" id="filter-by-state-value">
        <option value="">National</option>
        {% for siteid in state_list %}
        <option value="state-{{ siteid.state_num }}">{{ siteid.state }}</option>
        {% endfor %}
        {% for siteid in lga_list %}
        <option value="lga-{{ siteid.lga_num }}">{{ siteid.lga }}</option>
        {% endfor %}
    </select>


    <div id="my-chart">
        <p>Chart</p>
    </div>

    <script>
        format_data = function(data) {
            return {
                "series":[{
                    "data": data.adm_by_week,
                    "name":"amar",
                    "yAxis":0}],
                "yAxis":[{}],
                "chart":{"renderTo":"my-chart"},
                "xAxis":{"title":{"text":"weeknum"}},
                "legend":{"enabled":true},
                "title": {text: data.title}
            }
        }
        $.getJSON("/adm/").success(function(data) {
            amarChart = new Highcharts.Chart(format_data(data));
        });

        // on select event - run code in {}
        $("#filter-by-state-value").on("select2:select", function (e) {
            var stateNumber = $("#filter-by-state-value").val();

            $.getJSON("/adm/?state_number=" + stateNumber).success(function(data) {
                amarChart.update(format_data(data));
            });
        });
    </script>


{% include "home/includes/htmlsnippet.html" %}

<!--htmlsnippet could include an error message that is repeated on many different pages. -->

{% endblock %}

<!--see calazan.com - using highcharts with django 1.6 and bootstrap-->


