{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}

    <div>
        <script type="text/javascript">
        $(document).ready(function() {
            $(.js-example-basic-single").select2();
        });
        </script>
    </div>

    <select class="js-example-basic-single" id="filter-by-state-value">
        {% for siteid in state_list %}
        <option value="{{ siteid.state_num }}">{{ siteid.state }}</option>
        {% endfor %}
    </select>

    <!--add autocomplete jquery ui here -->

    <div id="my-chart">
        <p> Chart </p>
        <script>
            $.getJSON("/adm/").success(function(data) {
                amarChart = new Highcharts.Chart(data);
            });

            // $('#filter-by-state').select2();

            $("#filter-by-state").click(function(event) {
                var stateNumber = $("#filter-by-state-value").val();

                $.getJSON("/adm/?state_number=" + stateNumber).success(function(data) {
                    amarChart.update(data);
                });
            });
        </script>
    </div>


{% include "home/includes/htmlsnippet.html" %}

<!--htmlsnippet could include an error message that is repeated on many different pages. -->

{% endblock %}

<!--see calazan.com - using highcharts with fjango 1.6 and bootstrap-->


