*.pyc
__pycache__
db.sqlite3
local_settings.py
.idea/

home/migrations/0001_initial.py
home/migrations/0002_auto_20170129_1727.py
posts_by_type
venv/
ve/
token

.ipynb_checkpoints/
xlrd

IMAM_state_lga_test.xlsx
IMAM_state_supervision.xlsx

home/fixtures/
home/migrations/[^_]*
double_reporting.txt


