{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}

    <title>Add map here</title>

    <!--<img src="{% static 'map/img/red-splash-small.png' %}" class="responsive-img" style='max-height:60px;' alt="splash">-->

<div id="map"></div>

    <!--<div id="demoMap" style="height:250px"></div>-->
    <!--<script src="OpenLayers.js">-->

    <!--<script>-->
        <!--map = new OpenLayers.Map("demoMap");-->
        <!--map.addLayer(new OpenLayers.Layer.OSM());-->
        <!--map.zoomToMaxExtent();-->
    <!--</script>-->

{% endblock %}



