{% extends "home/header.html" %}
{% load staticfiles %}
{% load leaflet_tags %}


{% block content %}
    {% leaflet_js %}
    {% leaflet_css %}

    <title>Add map here</title>

    <!--<img src="{% static 'map/img/red-splash-small.png' %}" class="responsive-img" style='max-height:60px;' alt="splash">-->
<p>
    <div class="btn-group" role="group">
        <button class="btn btn-default" id="sitetype">Site Type</button>
        <button class="btn btn-default" id="active">Active</button>
        <button class="btn btn-default" id="stocks">Stocks</button>
        <button class="btn btn-default disabled" id="sphere">Sphere</button>
        <button class="btn btn-default disabled" id="dataquality">Data Quality</button>
    </div>
</p>

<div id="map-wrapper">

    {% leaflet_map "map" callback="window.map_init_basic" %}
</div>

    <!--https://github.com/lvoogdt/Leaflet.awesome-markers-->
    <!--http://ionicons.com/-->
    <!--for otp (ion-medkit)-->
    <!--for SC  (ion-ios-home)-->

<link rel="stylesheet" href="{% static 'home/css/leaflet.awesome-markers.css' %}">

<style>
    #map {
        height: 500px;
    }
</style>

<script src="{% static 'home/js/leaflet.awesome-markers.js' %}"></script>

<script>


    var otpMarker = L.icon({
        iconUrl: "https://image.ibb.co/izhTCk/healthcenter.png",
        iconSize:     [25, 22], // size of the icon
        iconAnchor:   [25, 22], // point of the icon which will correspond to marker's location
        // icon: 'plus-square',
        // markerColor: 'orange',
        // prefix: 'fa',
        // iconColor: 'white'
    });

    var scMarker = L.AwesomeMarkers.icon({
        icon: 'h-square',
        markerColor: 'darkred',
        prefix: 'fa',
        iconColor: 'white'
    });

    var activeMarker = L.icon({
        // iconUrl: 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Flag-1-Left-Pink-icon.png',
        iconUrl:    'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Flag-5-Chartreuse-icon.png',
        iconSize:     [38, 35], // size of the icon
        iconAnchor:   [38, 35], // point of the icon which will correspond to marker's location
        // icon: '',
        // markerColor: 'green',
        // prefix: 'fa',
        // iconColor: 'white'
    });

    var inactiveMarker = L.AwesomeMarkers.icon({
        icon: 'close',
        markerColor: 'gray',
        prefix: 'fa',
        iconColor: 'white'
    });

    var stockoutMarker = L.icon({
        iconUrl: 'https://image.ibb.co/dbbekv/red_splash_vs.png',
        // FIXME cannot access static/map
        //iconUrl: ('static/map/img/red-splash-small.png'),
        iconSize:     [25, 27], // size of the icon
        iconAnchor:   [25, 27], // point of the icon which will correspond to marker's location
    });

    var lowstockMarker = L.AwesomeMarkers.icon({
        icon: 'exclamation-triangle',
        markerColor: 'pink',
        prefix: 'fa',
        iconColor: 'white'
    });

    var repleteMarker = L.AwesomeMarkers.icon({
        icon: 'thumbs-up',
        markerColor: 'green',
        prefix: 'fa',
        iconColor: 'white'
    });

    function map_init_basic (map, options) {
        var sitesType = L.layerGroup();
        var sitesActive = L.layerGroup();
        var sitesStockout = L.layerGroup();

        $.getJSON('/map/sites.json').success(function(data) {
            for (var i = 0; i < data.length; ++i) {
                if (data[i].sc) {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: scMarker}).bindPopup(data[i].sitename).addTo(sitesType);
                } else if (data[i].otp) {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: otpMarker}).bindPopup(data[i].sitename).addTo(sitesType);
                }

                if (data[i].active) {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: activeMarker}).bindPopup(data[i].sitename).addTo(sitesActive);
                } else {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: inactiveMarker}).bindPopup(data[i].sitename).addTo(sitesActive);
                }

                if (data[i].stock < 1) {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: stockoutMarker}).bindPopup(data[i].sitename + "- stock: " + data[i].stock).addTo(sitesStockout);
                } else if (data[i].stock < 2) {
                    L.marker([data[i].x_long, data[i].y_lat], {icon: lowstockMarker}).bindPopup(data[i].sitename + "- stock: " + data[i].stock).addTo(sitesStockout);
                } else {
                     L.marker([data[i].x_long, data[i].y_lat], {icon: repleteMarker}).bindPopup(data[i].sitename + "- stock: " + data[i].stock).addTo(sitesStockout);
                }
            }

            L.control.layers({}, {"Type": sitesType, "Active": sitesActive, "Stockout": sitesStockout}).addTo(map);

            map.addLayer(sitesType);



            function showType() {
                map.addLayer(sitesType);
                map.removeLayer(sitesActive);
                map.removeLayer(sitesStockout);
            }

            function showActive() {
                map.removeLayer(sitesType);
                map.addLayer(sitesActive);
                map.removeLayer(sitesStockout);
            }

            function showStock() {
                map.removeLayer(sitesType);
                map.removeLayer(sitesActive);
                map.addLayer(sitesStockout);
            }

            /*
            function showSphere() {
            }

            function showQuality() {
            }
            */

            $("#sitetype").click(showType)
            $("#active").click(showActive)
            $("#stocks").click(showStock)
            // $("#sphere").click(showSphere)
            // $("#dataquality").click(showQuality)

        })
    }


</script>
{% endblock %}






